body {
    background-color: #3D348B;
    height: 100%;
    font-family: fantasy;
}

.box {
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 10px;
    left: 50%;
    bottom: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 10px;
    color: #191716;
}

.box.start {
    background-color: #BEB7A4;
}

.box.quiz {
    background-color: #E6AF2E;
}

.button {
    font-family: fantasy;
    border: none;
    padding: 15px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #E0E2DB;
    color: #191716;
    transition: background-color 0.3s ease;
}

.button.start {
    font-size: 16px;
}

.button.answer {
    font-size: 12px;
}

.button:hover {
    background-color: #D0D2CB;
}

.button.start:hover {
    color:#E6AF2E;
}